*{
    border: 0;
    margin:0;
    padding: 0;
}
body{
    background-color: #212121;
    color:azure;
}

.parent{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

#timeDisplay{
    background-color: orange;
    padding:5px;
    padding-left: 20px;
    padding-right: 20px;
    color:#000000;
    border-radius: 5px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}